---
http_interactions:
- request:
    method: get
    uri: https://vestibule.mx.com/users/USR-a0d28b12-2ccf-e80f-df0f-157f17d1b134
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Mx-Api-Key:
      - ATRIUM_API_KEY
      Mx-Client-Id:
      - ATRIUM_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.mx.atrium.v1+json; charset=utf-8
      Etag:
      - W/"610732839f4d0be084073be7e774b704"
    body:
      encoding: UTF-8
      string: '{"user":{"guid":"USR-a0d28b12-2ccf-e80f-df0f-157f17d1b134","is_disabled":false,"metadata":"{\"first_name\":
        \"Steven\", \"favorite_color\": \"BLUE\"}","identifier":"32d355b8-e2b4-449a-ab5c-86946224e0f9"}}'
  recorded_at: Fri, 16 Jun 2017 17:40:50 GMT
recorded_with: VCR 3.0.3
