---
http_interactions:
- request:
    method: get
    uri: https://vestibule.mx.com/institutions/chase
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Mx-Api-Key:
      - ATRIUM_API_KEY
      Mx-Client-Id:
      - ATRIUM_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.mx.atrium.v1+json; charset=utf-8
      Etag:
      - W/"f2876e471e025a3287abe578505ef509"
    body:
      encoding: UTF-8
      string: '{"institution":{"code":"chase","name":"Chase Bank","url":"https://www.chase.com/","medium_logo_url":"https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/100x100/default_100x100.png","small_logo_url":"https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/50x50/default_50x50.png"}}'
  recorded_at: Mon, 19 Jun 2017 17:40:32 GMT
recorded_with: VCR 3.0.3
